# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

/tmp/
/.idea/*

# 警告 理由がない限り 「ここから」で始まり、「ここまで」で終わる行は削除・無効化・変更しないでください。
# ここから
AssistantSeika/WCFClient/
AssistantSeika/SeikaSay2/
AssistantSeika/SeikaCtl/
# ここまで